@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

header {
  height: 80px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1200px;
  display: flex;
  align-items: center;
}

header .content {
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
}

.logo p,
.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: #3882f6;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul a {
  text-decoration: none;
  color: #f9faf8;
}

.cta {
  height: 420px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.cta .content {
  justify-content: space-between;
  gap: 64px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.cta-content h1 {
  font-size: 3rem;
}

.cta-content p {
  font-size: 1.125rem;
}

.cta-content button {
  width: 120px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 1.125rem;
}

.cta-img {
  flex: 1;
}

.benefits {
  width: 1200px;
  margin: 36px auto;
}

.benefits h2 {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 36px;
}

.reasons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
}

.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.reason-img {
  border: 1px solid #3882f6;
  border-radius: 6px;
  padding: 12px;
}

.reason-desc {
  font-weight: 200;
}

.quote {
  height: 320px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote .content {
  flex-direction: column;
}

.quote p {
  align-self: flex-end;
  font-size: 1.125rem;
}

.quote blockquote p {
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
}
